* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff6f6;
}

@font-face {
    font-family: 'Roboto';
    src: url('./src/fonts/Roboto-Bold.ttf') format('truetype');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./src/fonts/Roboto-Bold.ttf') format('truetype');
    font-style: semibold;
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url('./src/fonts/Roboto-Regular.ttf') format('truetype');
    font-style: regular;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./src/fonts/Roboto-Thin.ttf') format('truetype');
    font-style: light;
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src: url('./src/fonts/Nunito-Bold.ttf') format('truetype');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Nunito';
    src: url('./src/fonts/Nunito-Bold.ttf') format('truetype');
    font-style: semibold;
    font-weight: 600;
}

@font-face {
    font-family: 'Nunito';
    src: url('./src/fonts/Nunito-Regular.ttf') format('truetype');
    font-style: regular;
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url('./src/fonts/Nunito-Light.ttf') format('truetype');
    font-style: light;
    font-weight: 300;
}

.rob-heading1{
    font-family: Roboto;
    font-size: 48.83px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.3px; /* 119.394% */
    letter-spacing: 0.977px;
}

.rob-heading2{
    font-family: Roboto;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 700;
    line-height: 46.6px; /* 119.304% */
    letter-spacing: 0.781px;
}

.rob-heading3{
    font-family: Roboto;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.3px; /* 119.36% */
    letter-spacing: 0.625px;
}

.rob-subtitle{
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.8px; /* 119.2% */
    letter-spacing: 0.5px;
}

.rob-body{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.8px; /* 119% */
    letter-spacing: 0.4px;
}

.rob-caption{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px; /* 118.75% */
    letter-spacing: 0.32px;
}

.nun-heading1{
    font-family: Nunito;
    font-size: 48.83px;
    font-style: normal;
    font-weight: 700;
    line-height: 67.3px; /* 137.825% */
    letter-spacing: 0.977px;
}

.nun-heading2{
    font-family: Nunito;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.8px; /* 137.737% */
    letter-spacing: 0.781px;
}

.nun-heading3{
    font-family: Nunito;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px; /* 137.6% */
    letter-spacing: 0.625px;
}

.nun-subtitle{
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.4px; /* 137.6% */
    letter-spacing: 0.5px;
}

.nun-body{
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 0.4px;
}

.nun-caption{
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.32px;
}

:root{
    --main-color-eduteka-red:#9B0000;
    --main-color-mint:#3DD699;
    --main-color-lilac:#7854CB;
    --main-color-orange:#F74;
    --neutral-color-black:#1A1818;
    --neutral-color-white:#F5F5F5;

    --variable-color-red-100:#0F0000;
    --variable-color-red-200:#1F0000;
    --variable-color-red-300:#5D0000;
    --variable-color-red-400:#7C0000;
    --variable-color-red-600:#AF2727;
    --variable-color-red-700:#C34E4E;
    --variable-color-red-800:#D77676;
    --variable-color-red-900:#FFC4C4;

    --variable-color-mint-100:#06150F;
    --variable-color-mint-200:#0C2B1F;
    --variable-color-mint-300:#25805C;
    --variable-color-mint-400:#31AB7A;
    --variable-color-mint-600:#64DEAD;
    --variable-color-mint-700:#8BE6C2;
    --variable-color-mint-800:#B1EFD6;
    --variable-color-mint-900:#ECFBF5;

    --variable-color-lilac-100:#0C0814;
    --variable-color-lilac-200:#302251;
    --variable-color-lilac-300:#48327A;
    --variable-color-lilac-400:#6043A2;
    --variable-color-lilac-600:#9376D5;
    --variable-color-lilac-700:#AE98E0;
    --variable-color-lilac-800:#C9BBEA;
    --variable-color-lilac-900:#E4DDF5;

    --variable-color-orange-100:#1B0700;
    --variable-color-orange-200:#491D0E;
    --variable-color-orange-300:#76341B;
    --variable-color-orange-400:#D16136;
    --variable-color-orange-600:#FF9269;
    --variable-color-orange-700:#FFAD8F;
    --variable-color-orange-800:#FFC9B4;
    --variable-color-orange-900:#FFF1EC;

}

#bienvenido{
    background-image: url('src/images/thisisengineering-raeng-xoCrMyMFt7s-unsplash\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre-nosotros{
    margin: 90px 0;
    display: flex;
    width: 100%;
    padding: 0px 60px;
    align-items: center;
    gap: 93px;
}

#text-container .rob-heading2{
    color: var(--main-color-orange);
}

#sobre-nosotros img{
    max-width: 500px;
    height: auto;
    border-radius: 24px;
}

#herramientas{
    margin: 20px 60px;
    border-radius: 40px;
    display: flex;
    height: fit-content;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    flex-shrink: 0;
    flex-wrap: wrap;
    background-color: var(--variable-color-lilac-900);
}